*{
    /* background-image: url(../images/signBack.jpg); */
}

/* The styling for sign-in / sign-up / forgetPassword is same */
/* It is the main container */
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 30vw;
    height: 40vh;
    width: 30vw;
   border-radius: 10px;
    background-color: RGB(91, 94, 166);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Company Logo,  */
.companyLogo img{
   height:100px;
   width:100px;
}

/* .formInput{
     background-color:#B4F1B1;
    height: 100%;
    width: 60%;
     margin-left: 10%; 
} */
/* Form heading */
.formInput h1{
    margin-left: 10%;
    color:black;
}

.formInput form{
    margin-left: 10%;
    margin-top: 10%;
}

form input{
    width: 90%;
    height: 35px;
    margin: 10px 0px;
    border-radius: 30px;
    padding: 10px;
}
/* Styling for the button, and submit button */
.buttons{
    display: flex;
    flex-direction: row;
    color: white;
}
.submitButtons{
    width: 40%;
    margin-left: 10%;
}

.submitButtons button{
    width: 100%;
    border-radius: 30px;
    background-color: white;
}
button:hover{
    background-color:RGB(91, 94, 166); 
}

.extraStuff{
    margin-top: 20px;
    color: white;
}
.extraStuff a{
    
    color: white;
}
.forgetPassword a{
    color: white;
}